fastapi
uvicorn[standard]
transformers
langchain
langchain-community
pypdf
pyvis
pytesseract
pillow
python-multipart
tf-keras
streamlit
requests
huggingface_hub
langchain_huggingface
langchain-core
pymupdf
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langchain_openai
langgraph
langchain-text-splitters
streamlit
